.first-section {
    background: #4e29d0;
}

.first-section .first-content .first-image {
    background: url("../images/intro-bg-1.jpg");
    background-size: cover;
    height: 100%;
}

.first-section p {
    margin: 0;
}

.first-section .second-content {
    color: white;
}

.first-section .second-content .text-content .title h2 {
    font-weight: 400;
}

.first-section .second-content .info {
    padding-top: 340px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 80px;
}

.first-section .second-content .text-content .name {
    margin-bottom: 35px;
}

.first-section .second-content .text-content .name h1 {
    font-size: 82px;
    font-family: "Playfair Display", serif;
}

.first-section .second-content .text-content .text p {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

.first-section .second-content .icons {
    padding-top: 114px;
}

.first-section .second-content .icons a {
    color: white;
    font-size: 21px;
}

.first-section .second-content .icons a:first-child {
    padding-right: 17px;
}

.first-section .second-content .icons a:not(:first-child) {
    padding: 0 17px;
}

.first-section .second-content .phone-number {
    padding-top: 41px;
}

.first-section .second-content .email {
    padding-top: 5px;
}