.first-section {
    background: #4e29d0;
}

.first-section .first-content .first-image {
    background: url("../images/intro-bg-1.jpg");
    background-size: cover;
    height: 100%;
}

.first-section p {
    margin: 0;
}

.first-section .second-content {
    color: white;
}

.first-section .second-content .text-content .title h2 {
    font-weight: 400;
}

.first-section .second-content .info {
    padding-top: 340px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 80px;
}

.first-section .second-content .text-content .name {
    margin-bottom: 35px;
}

.first-section .second-content .text-content .name h1 {
    font-size: 82px;
    font-family: "Playfair Display", serif;
}

.first-section .second-content .text-content .text p {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

.first-section .second-content .icons {
    padding-top: 114px;
}

.first-section .second-content .icons a {
    color: white;
    font-size: 21px;
}

.first-section .second-content .icons a:first-child {
    padding-right: 17px;
}

.first-section .second-content .icons a:not(:first-child) {
    padding: 0 17px;
}

.first-section .second-content .phone-number {
    padding-top: 41px;
}

.first-section .second-content .email {
    padding-top: 5px;
}

@media (max-width: 1380px) {
    .first-section .second-content .info {
        padding-top: 170px;
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media (max-width: 1200px) {
    .first-section .second-content .info {
        padding-top: 80px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .first-section .second-content .text-content .name h1 {
        font-size: 65px;
    }

    .first-section .second-content .text-content .text p {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .first-section .second-content .info {
        padding-left: 20px;
        padding-top: 60px;
        padding-right: 20px;
        padding-bottom: 60px;
    }

    .first-section .second-content .text-content .name h1 {
        font-size: 45px;
    }

    .first-section .second-content .icons {
        padding-top: 70px;
    }

    .first-section .second-content .text-content .title h2 {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .first-section .first-content .first-image {
        height: 800px;
    }

    .first-section .second-content .text-content .text p {
        font-size: 20px;
    }

    .first-section .second-content .icons a {
        font-size: 30px;
    }

    .first-section .second-content .phone-number {
        font-size: 25px;
    }

    .first-section .second-content .email {
        font-size: 25px;
    }
}

@media (max-width: 576px) {
    .first-section .first-content .first-image {
        background-position: center center;
        height: 500px;
    }

    .first-section .second-content .text-content .name h1 {
        font-size: 40px;
    }

    .first-section .second-content .text-content .text p {
        font-size: 16px;
    }

    .first-section .second-content .icons {
        padding-top: 30px;
    }

    .first-section .second-content .icons a {
        font-size: 25px;
    }

    .first-section .second-content .icons a:not(:first-child) {
        padding: 0 10px;
    }

    .first-section .second-content .phone-number {
        font-size: 16px;
    }

    .first-section .second-content .email {
        font-size: 16px;
    }
}