@import "first-section.css";
@import "second-section.css";
@import "third-section.css";
@import "fourth-section.css";
@import "fifth-section.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1380px !important;
    }

    p {
        margin: 0 !important;
    }
}