@import "styles/scroll-dots.css";
@import "styles/menu.css";
@import "styles/first-section.css";
@import "styles/second-section.css";
@import "styles/third-section.css";
@import "styles/fourth-section.css";
@import "styles/fifth-section.css";
@import "styles/sixth-section.css";
@import "styles/seventh-section.css";
@import "styles/footer.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

.personal-profile {
    position: relative;
}

@media (min-width: 1380px) {
    .container {
        max-width: 1380px !important;
    }

    p {
        margin: 0 !important;
    }
}