.fourth-section {
    padding: 130px 0;
}

.fourth-section .first-content .title h1 {
    font-size: 71px;
    font-weight: 600;
    font-family: "Playfair Display", serif;
}

.fourth-section .first-content .title h1:after {
    position: absolute;
    display: block;
    content: "";
    border-bottom: 3.5px solid #5429c4;
    width: 75px;
    margin-top: 14px;
    margin-left: 64%;
}

.fourth-section .second-content .text {
    padding-top: 26px;
    padding-left: 29px;
    padding-right: 230px;
}

.fourth-section .second-content .text p {
    font-family: "Open Sans", sans-serif;
    font-size: 16.3px;
    line-height: 27px;
    font-weight: 500;
    word-spacing: 1px;
}

.fourth-section .first {
    padding-bottom: 77px;
}

.fourth-section .timeline {
    position: relative;
    padding-left: 230px;
    padding-right: 220px;
}

.fourth-section .timeline:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 580px;
    background: black;
    left: 27.3%;
    z-index: 9999999999999;
}

.fourth-section .item {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.fourth-section .item:not(:last-child) {
    margin-bottom: 70px;
}

.fourth-section .date-range h2 {
    font-size: 20px;
    font-weight: 700;
}

.fourth-section .item .info {
    width: 71.5%;
}

.fourth-section .item .info .title {
    color: rebeccapurple;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 7px;
    font-family: "Open Sans", sans-serif;
}

.fourth-section .item .info .subtitle {
    font-size: 19px;
    margin-bottom: 27px;
}

.fourth-section .item .info p {
    font-family: "Open Sans", sans-serif;
    font-size: 20.5px;
    font-weight: 600;
    word-spacing: 1.6px;
}

.fourth-section .item:after {
    content: "";
    position: absolute;
    top: 9px;
    width: 13px;
    height: 13px;
    background: black;
    border-radius: 50%;
    transform: translate(-50%);
    left: 15.4%;
}

@media (max-width: 1380px) {
    .fourth-section .timeline {
        padding-left: 100px !important;
        padding-right: 100px !important;
    }

    .fourth-section .timeline::before {
        left: 21.6%;
        height: 615px;
    }
}

@media (max-width: 1200px) {
    .fourth-section .first-content .title h1 {
        font-size: 50px;
    }

    .fourth-section .first-content .title h1:after {
        display: none;
    }

    .fourth-section .second-content .text {
        padding-top: 0;
    }

    .fourth-section .timeline {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .fourth-section .item:after {
        left: 18.2%;
    }
}

@media (max-width: 991px) {
    .fourth-section .timeline {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .fourth-section .first-content .title h1 {
        font-size: 40px;
    }

    .fourth-section .second-content .text {
        padding: 0;
    }

    .fourth-section .timeline::before {
        height: 705px;
    }

    .fourth-section .item:after {
        left: 21.7%;
    }
}

@media (max-width: 768px) {
    .fourth-section {
        padding: 70px 0;
    }

    .fourth-section .first {
        padding-bottom: 40px;
    }

    .fourth-section .second-content .text {
        margin-top: 20px;
    }

    .fourth-section .timeline::before {
        display: none;
    }

    .fourth-section .item {
        flex-direction: column;
    }

    .fourth-section .item:after {
        display: none;
    }

    .fourth-section .item .date-range {
        width: 100%;
        margin-bottom: 20px;
    }

    .fourth-section .item .date-range h2 {
        font-size: 21px !important;
    }

    .fourth-section .item .info {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .fourth-section .item .info p {
        font-size: 16px;
    }

    .fourth-section .item:not(:last-child) {
        margin-bottom: 30px;
    }
}